# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Mac Files
.DS_Store

# Build Files
.idea/*
.gradle/*
.gitignore.swp
local.properties
local.properties
*.bin
*.bin
.idea/compiler.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_extensions_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1.xml
.idea/libraries/Gradle__android_arch_persistence_db_1_1_1.xml
.idea/libraries/Gradle__android_arch_persistence_db_framework_1_1_1.xml
.idea/libraries/Gradle__android_arch_persistence_room_runtime_1_1_1.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_2.xml
.idea/libraries/Gradle__com_android_support_design_27_1_1.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_v4_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2.xml
.idea/libraries/Gradle__com_android_support_transition_27_1_1.xml
.idea/workspace.xml

local.properties
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/javaCompile/classAnalysis.bin
local.properties
*.bin
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
